<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Payment</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="sc-container">
        <h1>Something Went Wrong !</h1>
        <p>We apologize for the inconvenience, but an error occurred while processing your order requirt.</p>
        <p>For Any Support Email : support@company.com</p>
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhMrMKKhCk2ouIi9VcernMK_1Xv4U3hd3pj2-93WTFCxmisnAyCCNvMZCEPBX56dI_x2p1PTSRkZNbg8Z6pXV43bpAOqvtO6RU4gA6hhts-XB8fjRcCfHVyyv_qeo--BN0pU_cggMCLaK2Z5kXAVipIEZpiAZZL-U_YtFslRjgMY_Lx2KhWJcJq5V6sxK4/s320/cancel.png" alt="">
        <a href="#" class="sc-btn">Back To Homepage</a>
    </div>


<script src="js/main.js"></script>

</body>
</html>