<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Payment</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="sc-container">
        <h1>Payment Successful !</h1>
        <p>Your order will arrive in 2 business days.</p>
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgC_6FoA8kIJLx5YhtqsiSuM8K8CXWVbC0kJtro83o43jFoSmQKjR3hTCZmOyRa-ajwbqraPzpJskOpGxuKXVdNAnvvqnMzngcReGo2xoWiXFB4IWKa9LT30YRsrg4Psmyi4muc1IiiKm45qdVcJ5PB6rKMn0UhoSzwiLe89dKeviT5olMkvMYWcHkht_8/s320/success.png" alt="">
        <a href="#" class="sc-btn">Back To Homepage</a>
    </div>

    
    <script src="js/main.js"></script>
</body>
</html>